img {
  width: 800px;
}

body { 
  background: #1f1f1f; 
  font-family: 'Courier New', Courier, monospace;
  color: lightslategray; 
}

button {
  background-color: lightslategray; /* Change this to your desired color */
  color: white; /* Text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Button padding */
  font-size: 16px; /* Font size */
  font-family: 'Courier New', Courier, monospace; /* Font */
}

h1 {
  font-size: 24px; 
}

.header{
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: black;
  color: #f1f1f1;
  font-size: 24px; 
  width: 100%; 
}

body {
  padding-bottom: 60px; 
}

footer{ 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  padding: 5px 5px;
  background: black;
  color: #f1f1f1;
  font-size: 12px; 
  text-align: center; 
}